
<div class="wrapper">
  <header>

    <div class="netflixLogo">
      <a id="logo" href="https://github.com/TimothyJan/Films-MEAN" target="_blank">TMDB Reviewer</a>
    </div>

    <nav class="main-nav">

      <a href="#home">Home</a>
      <a href="#tvShows">Now Playing</a>
      <a href="#movies">Popular</a>
      <a href="#originals">Top Rated</a>
      <a href="https://timothyjan.github.io/" target="_blank">Tim's Portfolio</a>
    </nav>

    <nav class="sub-nav">
      <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
      <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
      <a href="#">Account</a>
    </nav>

  </header>
</div>

